
<!DOCTYPE html>
<html>
<head>

<title>Advanced Healthcare Honeypot</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
background:#0d1117;
color:white;
}

.card-box{
background:#161b22;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 0 15px rgba(0,255,255,0.1);
}

.table{
color:white;
}

</style>

</head>

<body>

<div class="container mt-4">

<h1 class="text-center mb-4">
Advanced Healthcare IoT Deception Honeypot
</h1>

<div class="row">

<div class="col-md-4">
<div class="card-box text-center">
<h3>Total Attacks</h3>
<h1>{{ total_attacks }}</h1>
</div>
</div>

<div class="col-md-4">
<div class="card-box text-center">
<h3>AI Threat Classification</h3>
<h5>Isolation Forest Enabled</h5>
</div>
</div>

<div class="col-md-4">
<div class="card-box text-center">
<h3>Honeypot Evasion</h3>
<h5>Random Delay Active</h5>
</div>
</div>

</div>

<div class="text-center mb-4">
<a href="/generate" class="btn btn-danger btn-lg">
Generate Fake Attack
</a>
</div>

<div class="card-box">

<h2>Fake Healthcare Devices</h2>

<div class="row">

{% for d in devices %}

<div class="col-md-6 mt-3">

<div class="card bg-dark text-white p-3">

<h5>{{ d.device }}</h5>

<p>
IP: {{ d.ip }} <br>
Status: {{ d.status }}
</p>

</div>

</div>

{% endfor %}

</div>

</div>

<div class="card-box">

<h2>Attack Analytics</h2>

<canvas id="chart"></canvas>

</div>

<div class="card-box">

<h2>Real-Time Attack Logs</h2>

<table class="table table-dark table-hover">

<thead>
<tr>
<th>IP</th>
<th>Attack</th>
<th>Severity</th>
<th>AI Result</th>
<th>Target Device</th>
<th>Time</th>
</tr>
</thead>

<tbody>

{% for attack in attacks %}

<tr>
<td>{{ attack.ip }}</td>
<td>{{ attack.attack_type }}</td>
<td>{{ attack.severity }}</td>
<td>{{ attack.ai_result }}</td>
<td>{{ attack.target_device }}</td>
<td>{{ attack.time }}</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

<script>

fetch('/api/stats')
.then(response => response.json())
.then(data => {

new Chart(document.getElementById('chart'),{
type:'bar',

data:{
labels:Object.keys(data),

datasets:[{
label:'Attack Count',
data:Object.values(data)
}]
}

});

});

</script>

</body>
</html>
